#body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.main-div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.top {
    border-bottom: solid black 1px;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #A8B3B7;
    border-bottom-right-radius: 8px;
}

.side {
    border-right: solid rgb(73, 75, 73) 1px;
    position: fixed;
    top: 10%;
    width: 20%;
    height: 90vh;
    background-color: #517581;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.work-space1 {
    background-color: rgb(214, 214, 214);
    position: absolute;
    width: 80%;
    height: 90%;
    top: 10%;
    left: 20%;
}

.for {
    position: absolute;
    font-size: 1.2rem;
    bottom: 50px;
    right: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.main-header {
    position: absolute;
    width: 230px;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 230%;
}

#balance {
    position: absolute;
    width: 50%;
    height: 40px;
    left: 50%;
    margin-left: -50px;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    padding: 2px;
}

.fa-plus-circle {
    position: fixed;
    font-size: 80px;
    color: #829924;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
}

.fa-plus-circle:hover {
    cursor: pointer;
    transform: scale(1.25);
    border: outset;
}

.my-balance {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 3%;
    top: 60px;
    font-size: 24px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hr1 {
    position: absolute;
    top: 17%;
    width: 90%;
    left: 5%;
}

.container1 {
    position: absolute;
    display: flex;
    width: 100%;
    top: 22%;
    flex-direction: column;
    row-gap: 20px;
}

.cont1 {
    text-align: center;
    height: 50px;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0;
}

.cont1:hover {
    background-color: #d7d9d6;
    cursor: pointer;
    border: outset .5px;
}

p {
    position: relative;
    border: solid black;
    left: 50%;
    transform: translateX(-50%);
}

p:hover {
    transition: ease 0.25s transform;
    transform: translateX(20px);
}