#body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.main-div {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.top {
    border-bottom: solid black 1px;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #829924;
    border-bottom-right-radius: 10px;
}

.side {
    border-right: solid black 1px;
    position: fixed;
    top: 10%;
    width: 20%;
    height: 680px;
    background-color: #D7D9D6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.work-space1 {
    position: absolute;
    width: 80%;
    height: 90%;
    top: 10%;
    left: 20%;
}

.for {
    position: absolute;
    font-size: 1.2rem;
    bottom: 50px;
    right: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.main-header {
    position: absolute;
    width: 230px;
    left: 3%;
    top: 15%;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 230%;
}

#balance {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    padding: 2px;
}

.fa-plus-circle {
    position: fixed;
    font-size: 80px;
    color: #829924;
    right: 60px;
    bottom: 60px;
}

.my-balance {
    position: absolute;
    width: 140px;
    height: 40px;
    left: 5%;
    top: 60px;
    font-size: 21px;
    text-decoration: underline;
}

.hr1 {
    position: absolute;
    top: 10px;
}